---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
        "theme-{{ site.theme_color | default: "dark" }}.scss"
        // "theme-{{ site.theme_fonts | default: "system" }}.scss"
;
.intro-header {
        /* padding-top: 50px;
        padding-bottom: 50px; */
        text-align: center;
        color: #f8f8f8;
        /* background: url(../img/intro-bg.jpg) no-repeat center center; */
        /* background-size: cover; */
        /* width: 80%;
        height: 80%; */
      }
.test-message {
        position: relative;
        /* position: center; */
        padding-top: 20%;
        padding-bottom: 20%;
      }
      
.test-message>h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 5em;
}