<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>test</title>

    <link rel="stylesheet" type="text/css" href="../assets/style_test.css"/>
    
    <!-- Slick Carousel-->
    <link rel="stylesheet" type="text/css" href="../assets/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/slick-theme.css"/>
  </head>

  <body>
    <div>      
        <header class="test-header clearfix">
            <div class="right absolute-lg right-0 top-0">
                <ul class="mt-1 mt-lg-2 mr-2 mr-lg-3">
                    <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                    <a class="italic h4 bold no-underline" href="{{ site.baseurl }}/">
                        <!-- {{ site.title }} -->
                        Home
                    </a>
                    </li>
                    {% for my_page in site.pages %}
                    {% if my_page.title %}
                    <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                        <a class="italic no-underline h4" href="{{ my_page.url | prepend: site.baseurl }}">
                        {{ my_page.title }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="container">
                <div class="autoplay">
                    <div class="test-message container mx-auto px-2 mt-4 mb-2 clearfix header-text" style="background-image: url(../assets/img/index_fatherandson_2.jpg); background-size: cover;">
                        <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }} 1</h1>
                
                        <div class="clearfix mb-4 py-1">
                            <p class="h4 lh-condensed font-smoothing">{{ site.description }} 1</p>
                            <div class="col-1 sm-width-full border-top-thick">
                            </div>
                        </div>        
                    </div>

                    <div class="test-message container mx-auto px-2 mt-4 mb-2 clearfix header-text" style="background-image: url(../assets/img/index_boyandhisdog.jpg); background-size: cover;">
                        <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }} 2</h1>
                
                        <div class="clearfix mb-4 py-1">
                            <p class="h4 lh-condensed font-smoothing">{{ site.description }} 2</p>
                            <div class="col-1 sm-width-full border-top-thick">
                            </div>
                        </div>            
                    </div>

                    <div class="test-message container mx-auto px-2 mt-4 mb-2 clearfix header-text" style="background-image: url(../assets/img/index_zeke.jpg); background-size: cover;">
                        <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }} 3</h1>
                
                        <div class="clearfix mb-4 py-1">
                            <p class="h4 lh-condensed font-smoothing">{{ site.description }} 3</p>
                            <div class="col-1 sm-width-full border-top-thick">
                            </div>
                        </div>        
                    </div>

                    <div class="test-message container mx-auto px-2 mt-4 mb-2 clearfix header-text" style="background-image: url(../assets/img/index_momandson.jpg); background-size: cover;">
                        <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }}</h1>
                
                        <div class="clearfix mb-4 py-1">
                            <p class="h4 lh-condensed font-smoothing">{{ site.description }}</p>
                            <div class="col-1 sm-width-full border-top-thick">
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </header>
    </div>
    <script src="../assets/javascript/jquery.min.js"></script>

    <!-- Slick Carousel-->
    <script type="text/javascript" src="../assets/javascript/slick.min.js"></script>
				
    <script>
        $(document).ready(function(){
            $('.autoplay').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000
            });
        });
    </script>
  </body>

</html>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="{{ "/assets/javascript/jquery.js" | prepend: full_base_url }}"></script>
    <script type="text/javascript" src="{{ "/assets/javascript/jquery.min.js" | prepend: full_base_url }}"></script> -->
    <!-- <script type="text/javascript" src="{{ "/assets/javascript/slick.min.js" | prepend: full_base_url }}"></script> -->
        <!-- <link rel="canonical" href="http://jacobbarnes.jandcb.com/"> -->
        <!-- {% assign user_url = site.url | append: site.baseurl %}
        {% assign full_base_url = user_url | default: site.github.url %} -->
        <!-- <link rel="stylesheet" href="{{ "/assets/slick.css" | prepend: full_base_url }}"/>
        <link rel="stylesheet" href="{{ "/assets/slick-theme.css" | prepend: full_base_url }}"/> -->