<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>test</title>

    <link rel="stylesheet" href="{{ "/assets/slick.css" | prepend: full_base_url }}"/>
    <link rel="stylesheet" href="{{ "/assets/slick-theme.css" | prepend: full_base_url }}"/>
  </head>

  <body>



    <div class="autoplay"></div>
      <div><h1>Hello World</h1></div>
      <div><h1>What's up World</h1></div>
      <div><h1>Yo World</h1></div>
      <div><h1>Hi World</h1></div>
    </div>

    <script type="text/javascript" src="{{ "/assets/javascript/slick.min.js" | prepend: full_base_url }}"></script>
    <script>
        $(document).ready(function(){
            $('.autoplay').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000
            });
        });
    </script>
  </body>

</html>
